<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Recipe</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="container p-3 my-3 bg-primary text-white rounded-pill">
                        <div class="panel-heading">
                            <h1 class="panel-title" style="text-align: center" th:text="${recipe.description}"></h1>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="card border-primary mb-3 rounded-top" style="margin-top: 20px">
                            <h5 class="card-header bg-primary text-white">Notes</h5>
                            <div class="card-body">
                                <h6 th:text="${recipe.notes.recipeNotes}"></h6>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h6>Categories:</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6>
                                            <ul th:each="category:${recipe.categories}">
                                                <li th:text="${category.getCategoryName()}"></li>
                                            </ul>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h6>Difficulty:</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 th:text="${recipe.difficulty}"></h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>Servings:</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 th:text="${recipe.servings}"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h6>Prep time:</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 th:text="${recipe.prepTime} + ' min'"></h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>Cooking time:</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 th:text="${recipe.cookTime} + ' min'"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <h6>URL:</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 th:text="${recipe.url}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary mb-3 rounded-top" style="margin-top: 20px">
                            <h5 class="card-header bg-primary text-white">Ingredients</h5>
                            <div class="card-body">
                                <h6>
                                    <ul th:each="ingredient:${recipe.ingredients}">
                                        <li th:text="${ingredient.getAmountWithScale() + ' ' + ingredient.unitOfMeasure.getUom() + ' of ' + ingredient.description}"></li>
                                    </ul>
                                </h6>
                            </div>
                        </div>
                        <div class="card border-primary mb-3 rounded-top" style="margin-top: 20px">
                            <h5 class="card-header bg-primary text-white">Directions</h5>
                            <div class="card-body">
                                <h6 th:text="${recipe.directions}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-primary" style="margin-bottom: 20px" href="/index.html" role="button">Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>